<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721554538981-u8mckpd39j2153ogt1l0ai60b4ftc94s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721554538981-u8mckpd39j2153ogt1l0ai60b4ftc94s</string>
	<key>API_KEY</key>
	<string>AIzaSyDOp7oFCG9fDOGLZA1GKkrD9qXIbwbFPQE</string>
	<key>GCM_SENDER_ID</key>
	<string>721554538981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kobe-saintfort-MR.Urgent-Services</string>
	<key>PROJECT_ID</key>
	<string>urgentservices561</string>
	<key>STORAGE_BUCKET</key>
	<string>urgentservices561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721554538981:ios:461aeaeb27b6e883b96f0c</string>
</dict>
</plist>